html
  head
    title #{title}
    link(rel='stylesheet', href='/components/bootstrap/bootstrap_paper.css')
    style.
      body{ padding-top:80px; word-wrap:break-word; }
  body
    .container
      .page-header.text-center
        h1
          span.fa #{title}  
        a.btn.btn-default.btn-sm(href='/logout') Logout
      .row
        // LOCAL INFORMATION
        .col-sm-6
          .well
            h3
              span.fa.fa-user  Local     
            p
              strong id: #{user._id}
              br
              strong pseudonym: #{user.pseudonym}
              br
              strong email: #{user.email}
